#tls-scan-progress {
	display: none;
	width: 100%;
	height: 25px;
	background-color: #ddd;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 10px;
  }
  
  .tls-progress {
	height: 100%;
	width: 0%;
	background-color: #28a745;
	text-align: center;
	line-height: 25px;
	color: white;
	font-weight: bold;
	transition: width 0.3s ease-in-out;
  }
  
  #tls-progress-text {
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: black;
	display: none;
  }
  